// color and widths
$desktop-width: 1440px;
$mobile-width: 375px;
//
$color-desaturated-red: hsl(0, 36%, 70%);
$color-soft-red: hsl(0, 93%, 68%);

$color-dark-grayish-red: hsl(0, 6%, 24%);

$color-linear-first: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
$color-linear-sec: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 74%, 74%));
