//import
@import 'config';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
//rest

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
}

.container {
	height: 100vh;
	display: flex;

	// left
	.left-section {
		width: 60%;
	}
	// right
	.right-section {
		// background-color: red;
		background: url('../images/hero-desktop.jpg') no-repeat center center/cover;
		width: 40%;
	}
}
